project-1/automotive.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="automotives">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="automotive" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="street"/>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:string" name="region" minOccurs="0"/>
              <xs:element type="xs:string" name="country"/>
              <xs:element name="carModels" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:short" name="year"/>
                    <xs:element type="xs:string" name="usdPrice"/>
                    <xs:element type="xs:string" name="cadPrice"/>
                    <xs:element type="xs:string" name="euroPrice"/>
                    <xs:element type="xs:string" name="poundPrice"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="cars" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="vin"/>
                    <xs:element type="xs:string" name="color"/>
                    <xs:element type="xs:string" name="buyer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>